.getoperation-container-section{
  padding: 10px;
  width: 100%;
  height: 100%;
}

.section-lists{
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.section-listitem{ 
  color: black;
  list-style: none;
  background-color: whitesmoke;
  margin-bottom: 10px;
  padding: 9px;
  cursor: pointer;
  border-radius: 25px;
}

.section-listitem span{
  color: #0c4873;
  font-weight: bold;
}