.home-container-section{
  margin-top: -40px;
  height: calc(100vh - 110px);
  background-color: gainsboro;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.home-container-section img{
  height: 100%;
}
.section-about{
  padding-right: 50px;
  padding-top: 25px;
  height: inherit;
  width: 550px;
  text-align: justify;
  align-self: stretch;
}
.about-subtitle, .about-title{
  height: 50px;
}
.about-subtitle{
  font-size: 1.3em;
  color: #0098a4;
}
.about-title{
  font-size: 1.5em;
  font-weight: bold;
  color: #0c4873;
}
.about-description{
  margin-top: 50px;
}

@media screen and (max-width: 760px){
  .home-container-section img{
    height: 30%;
  }
  .section-about{
    padding-right: 10px;
    padding-top: 10px;
  }
  .about-subtitle, .about-title{
    height: 30px;
  }
  .about-subtitle{
    font-size: 1em;
  }
  .about-title{
    font-size: 1em;
  }
  .about-description{
    margin-top: 25px;
    font-size: 16px;
  }
}